@model Survey

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css"/>
    <title>Dojo Survey</title>
</head>
<body>
    <div class="container">
        <form asp-action="Result" asp-controller="Home" method="POST">
            <div>
                <span asp-validation-for="Name"></span>
                <label asp-for="Name"></label>
                <input asp-for="Name">
            </div>
            <div>
                <span asp-validation-for="Location"></span>
                <label asp-for="Location"></label>
                <input asp-for="Location">
            </div>
            <div>
                <span asp-validation-for="Language"></span>
                <label asp-for="Language"></label>
                <input asp-for="Language">
            </div>
            <div>
                <span asp-validation-for="Comment"></span>
                <label asp-for="Comment"></label>
                <input asp-for="Comment">
            </div>
            <input type="submit" value="Submit!">
        </form>
    </div>
</body>
</html>