
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css"/>
    <title>Dojo Survey</title>
</head>
<body>
    <div class="container">
        <form action="/result" method="POST">
            <div>
                <label>Name: </label>
                <input type="text" name="Name">
            </div>
            <div>
                <label>Location: </label>
                <input type="text" name="Location">
            </div>
            <div>
                <label>Favorite Language: </label>
                <input type="text" name="Language">
            </div>
            <div>
                <label>Comment: </label>
                <input type="text" name="Comment">
            </div>
            <input type="submit" value="Submit!">
        </form>
    </div>
</body>
</html>