<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css"/>
    <title>Dojo Survey</title>
</head>
<body>
    <div class="container">
        <form action="/result" method="POST">
            <div>
                <label for="name">Name: </label>
                <input type="text" name="name" id="name">
            </div>
            <div>
                <label for="location">Location: </label>
                <input type="text" name="location" id="location">
            </div>
            <div>
                <label for="language">Favorite Language: </label>
                <input type="text" name="language" id="language">
            </div>
            <div>
                <label for="comment">Comment: </label>
                <input type="text" name="comment" id="comment">
            </div>
            <input type="submit" value="Submit!">
        </form>
    </div>
</body>
</html>